@charset "UTF-8";

/* 헤더 구역 시작*/
#header{
    height: 325px;
    background: url(../img/header_bg.jpg) center top repeat-x;
    color: #fff;
}

#header .header-menu{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
}
#header .header-menu > li a{
    padding: 5px 10px;
    margin: 10px 0 0 10px;
    display: inline-block;
}
#header .header-menu > li a:hover{
    color: #333;
}

#header .header-tit{
    text-align: center;
}
#header .header-tit > h1{
    font-size: 28px;
    display: inline-block;
    padding: 5px 20px 6px;
    margin-top: 40px;
    background-color: #4aa8d4;
}
#header .header-tit > a{
    font-size: 18px;
    display: inline-block;
    padding: 5px 20px 6px;
    margin: -5px 0 45px;
    background-color: #2698cb;
}

#header .header-icons{
    text-align: center;
}
#header .header-icons li{
    display: inline-block;
}
#header .header-icons li > a{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url(../img/icon.png);
    margin: 0 3px;
}
#header .header-icons li > a.icon1:hover{
    background-position: -60px 0;
}
#header .header-icons li > a.icon2{
    background-position: 0 -60px;
}
#header .header-icons li > a.icon2:hover{
    background-position: -60px -60px;
}
#header .header-icons li > a.icon3{
    background-position: 0 -120px;
}
#header .header-icons li > a.icon3:hover{
    background-position: -60px -120px;
}
#header .header-icons li > a.icon4{
    background-position: 0 -180px;
}
#header .header-icons li > a.icon4:hover{
    background-position: -60px -180px;
}
/* 헤더 구역 끝 */

/* 메인 구역 시작 */
/* 네비게이션 */
#main #main-nav{
    background-color: #eaf7fd;
    position: relative;
}
#main #main-nav::after{
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(42, 145, 193, 0.3);
    position: absolute;
    top: 70px;
}
#main #main-nav .container{
    display: flex;
    justify-content: center;
    position: relative;
}
#main-nav .container > div{
    padding: 0 50px;
}
#main-nav .main-nav-content > h3{
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #2c94c4;
}
#main-nav .main-nav-content > ul{
    display: none;
    margin: 10px 0;
}
#main-nav .main-nav-content > ul a{
    font-size: 13px;
    display: inline-block;
    padding: 2px 0;
    color: #222;
}
#main-nav .main-nav-content > ul a:hover{
    text-decoration: underline;
    color: #390;
}
#main-nav .nav-btn{
    position: absolute;
    top: 5px;
    right: 15px;
    width: 60px;
    height: 60px;
    background: url(../img/icon.png) no-repeat 0 -600px;
}
#main-nav .nav-btn.on{
    background-position: 0 -660px;
}

/* 배너 */
#main-banner{
    background: #dceff7;
}
#main-banner .banner-inner{
    padding: 32px 5% 50px;
    position: relative; 
    margin: 0 auto;
}
#main-banner .banner-inner img{
    border: 4px solid #dcdcdc;
    margin: 0 auto;
}
#main-banner .banner-inner img:hover{
    border-color: #98bcdc;
}
/* 배너 컨트롤 */
#main-banner .banner-inner .slick-prev{
    position: absolute;
    top: 75px; 
    left: 0; 
    width: 43px; 
    height: 43px; 
    background: url(../img/icon.png) no-repeat -150px 0; 
    text-indent: -9999px;
}
#main-banner .banner-inner .slick-next{
    position: absolute; 
    top: 75px; 
    right: 0; 
    width: 43px; 
    height: 43px; 
    background: url(../img/icon.png) no-repeat -150px -43px; 
    text-indent: -9999px;
}
#main-banner .banner-inner .slick-prev:hover{
    background-position: -193px 0;
}
#main-banner .banner-inner .slick-next:hover{
    background-position: -193px -43px;
}
#main-banner .banner-inner .slick-dots{
    position: absolute; 
    left: 0;
    bottom: 15px; 
    display: block; 
    width: 100%; 
    text-align: center;
}
#main-banner .banner-inner .slick-dots li{
    display: inline-block; 
    margin: 5px;
}
#main-banner .banner-inner .slick-dots li button{
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    background: #5dbfeb; 
    font-size: 0; 
    line-height: 0; 
    cursor: pointer; 
}
#main-banner .banner-inner .slick-dots li.slick-active button{
    background: #2b91c8;
}

/* 컬럼 컨텐츠 */
#main #main-content{
    background-color: #f6fdff;
}
#main #main-content .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 100px 0;
}
/* 컬럼 공통 */
#main-content .container .column{
    flex: 1 1 30%;
    height: 363px;
    overflow: hidden;
    margin: 0 30px 30px 0;
    padding-right: 30px;
    border-right: 1px solid #c8c8c8;
    position: relative;
    color: #222;
    font-size: 12px;
}
#main-content .column .ico-img{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url(../img/icon.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
#main-content .column .ico-tit{
    padding-left: 70px;
    font-size: 16px;
    color: #2c94c4;
}
#main-content .column .ico-desc{
    padding: 0 0 15px 70px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d0d0d0;
    font-size: 13px;
}
/* column h4 공통 */
.column .noti-subtit{
    padding-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #0093bd;
}
#main-content .col1 > div, #main-content .col2 > div{
    position: relative;
}
#main-content .col1 .noti-more, #main-content .col2 .noti-more{
    display: block;
    width: 17px;
    height: 17px;
    background: url(../img/icon.png) -150px -90px;
    position: absolute;
    top: 0;
    right: 0;
}
/* col1 > 게시판1,2 공통 */
#main-content .col1 .ico-img{
    background-position: 0 -240px;
}
#main-content .col1 .ico-img:hover{
    background-position: -60px -240px;
}
#main-content .col1 ul li{
    background: url(../img/dot.gif) no-repeat 0 8px;
    padding-left: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}
#main-content .col1 ul li > a:hover{
    color: #390;
}
/* col1 > 게시판2 */
#main-content .col1 > .notice2{
    margin-top: 15px;
}
.col1 .notice2 .noti-content > span:nth-child(1){
    display: inline-block;
    width: 68%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}
.col1 .notice2 .noti-content > span:nth-child(2){
    display: inline-block;
    width: 30%;
    text-align: right;
    vertical-align: top;
}
/* col2 > 게시판3 */
#main-content .col2 .ico-img{
    background-position: 0 -300px;
}
#main-content .col2 .ico-img:hover{
    background-position: -60px -300px;
}
.col2 .notice3 .noti-content{
    display: block;
    position: relative;
    padding: 8px 0 14px 60px;
}
.col2 .notice3 .noti-content:hover{
    color: #390;
}
.col2 .notice3 .noti-content img{
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #0093bd;
}
.col2 .notice3 .noti-content > p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* col3 */
#main-content .col3 .ico-img{
    background-position: 0 -360px;
}
#main-content .col3 .ico-img:hover{
    background-position: -60px -360px;
}
/* col3 > 로그인 */
#login-wrap{
    margin-bottom: 15px;
    background: #f2f4f5;
    padding: 15px;
}
/* col3 > 로그인 보안 */
#login-wrap .login-security{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
#login-wrap .login-security input, #login-wrap .login-security label{
    vertical-align: middle;
    cursor: pointer;
}
#login-wrap .login-security .ls-ip{
    padding-left: 15px;
}
#login-wrap .login-security span{
    vertical-align: middle;
}
#login-wrap .ls-ip input[id="ls-switch"]{
    display: none;
}
#login-wrap .ls-ip input[id="ls-switch"] + label{
	display: inline-block;
    width: 36px;
    height: 17px;
    padding: 7px 0 6px;
    border-radius: 12px;
    background-color: #c3c8c9;
    position: relative;
    cursor: pointer;
}
#login-wrap .ls-ip input[id="ls-switch"]:checked + label{
    background: #390;
}
#login-wrap .ls-ip input[id="ls-switch"] + label::before{
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    transition: all .1s ease;
}
#login-wrap .ls-ip input[id="ls-switch"]:checked + label::before{
    left: 21px;
}
/* col3 > 로그인 박스 */
#login-wrap .idpw-box{
    display: flex;
}
#login-wrap .idpw-box .idpw{
    flex: 3 1 0; 
    margin-right: 5px;
}
#login-wrap .idpw-box .input-text{
    width: 100%;
    background: #fff;
    border: 1px solid #bebebe;
    padding: 2px 6px;
    margin-bottom: 5px;
}
#login-wrap .idpw-box .idpw-btn{
    flex: 1 1 0;
    background: #fff;
    border: 1px solid #bebebe;
    padding: 2px 4px;
    margin-bottom: 5px;
}
/* col3 > 회원가입 */
#login-wrap .join li a{
    font-size: 13px;
}
#login-wrap .join li a:hover{
    color: #390;
}
/* col3 > 팝업 */
.col3 .popup > ul{
    display: flex;
}
.col3 .popup > ul li{
    flex: 1 1 33%;
    margin-right: 5px;
}
.col3 .popup > ul li img{
    width: 100%;
}
/* 레이어 팝업 */
#layer{
    display: none; 
    position: fixed; 
    top: 50px;
    left: 50px; 
    width: 700px; 
    border: 10px solid #dceff7; 
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
} 
#layer img{
    display: block;
    width: 100%; 
}
#layer .close{
    position: absolute; 
    top: 20px;
    right: 20px;  
    padding: 2px 4px;
    background: #0093bd;  
    color: #fff;
}
#layer .close:hover{
    text-decoration: underline;
}

#main-content .col4 .ico-img{
    background-position: 0 -420px;
}
#main-content .col4 .ico-img:hover{
    background-position: -60px -420px;
}

/* col4 */
/* col4 > 마우스 효과 공통 */
.col4 .notice-hover ul{
    display: flex;
}
.col4 .notice-hover ul li{
    flex: 1 1 33%;
    margin-right: 5px;
}
.notice-hover ul li a{
    display: inline-block;
    text-align: center;
}
.notice-hover ul li a:hover{
    color: #390;
}
.notice-hover li span{
    display: inline-block;
    position: relative;
}
.notice-hover li img{
    width: 100%;
}
.col4 li .hover-text{
    visibility: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    color: #fff;
}
/* col4 > 마우스 효과1 */
.notice-hover1 li .hover-text{
    top: 0;
    padding-top: 45%;
}
.notice-hover1 ul li a:hover .hover-text{
    visibility: visible;
}
/* col4 > 마우스 효과2 */
.col4 .notice-hover2{
    margin-top: 15px;
}
.notice-hover2 ul li a:hover .hover-text{
    visibility: visible;
    padding: 4px;
}

/* col5 */
#main-content .col5 .ico-img{
    background-position: 0 -480px;
}
#main-content .col5 .ico-img:hover{
    background-position: -60px -480px;
}
/* col5 > 탭 메뉴 */
.col5 .tab-menu{
    height: 123px;
    padding: 8px;
    border: 1px solid #ccc;
    position: relative;
}
.col5 .tab-menu > ul{
    display: flex;
    border-bottom: 1px solid #ccc;
}
.col5 .tab-menu > ul > li{
    border: 1px solid #ccc;
    margin: 0 -1px -1px 0;
}
.col5 .tab-menu > ul > li.on{
    background: #2c94c4;
}
.col5 .tab-menu > ul > li > a{
    padding: 5px 10px;
    display: block
}
.col5 .tab-menu > ul > li > a:hover{
    color: #390;
}
.col5 .tab-menu > ul > li.on > a{
    color: #fff;
}
.tab-menu ul.tab-content{
    position: absolute;
    left: 0;
    top: 48px;
    width: 270px;
}
.tab-menu ul.tab-content li{
    background: url(../img/dot.gif) no-repeat 9px 8px;
    padding-left: 18px;
}
.tab-menu ul.tab-content li a{
    display: block;
    padding-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* col5 > 게시판4 */
#main-content .col5 .notice4{
    margin-top: 15px;
    border: 1px solid #ccc;
    position: relative;
}
#main-content .col5 .notice4 h4{
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #0093bd;
    font-weight: 700;
    padding: 8px 10px;
}
.col5 .notice4 h4 em{
    color: #cf3292;
}
.notice4 ul{
    padding: 10px;
}
.notice4 ul li{
    background: url(../img/dot.gif) no-repeat 0 8px;
    padding-left: 8px;
    padding-bottom: 2px;
}
.notice4 ul li a{
    display: flex;
    justify-content: space-between;
}
.notice4 ul li a:hover{
    color: #390;
}
.notice4 ul li a span:first-child{
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.col5 .notice4 > a.more{
    position: absolute;
    right: 9px;
    top: 9px;
}
.col5 .notice4 > a.more:hover{
    color: #390;
}

/* col6 */
#main-content .col6 .ico-img{
    background-position: 0 -540px;
}
#main-content .col6 .ico-img:hover{
    background-position: -60px -540px;
}
#main-content .container .col3, #main-content .container .col6{
    padding-right: 0;
    margin-right: 0;
    border: none;
}
/* col6 > 갤러리 */
.col6 .gallery{
    border: 1px solid #ccc;
    height: 255px;
    overflow: hidden;
    position: relative;
}
.col6 .gallery h4{
    font-size: 14px;
    font-weight: bold;
    color: #0093bd;
    padding: 10px 0 8px 11px;
    border-bottom: 1px solid #ccc;

}
.col6 .gallery .gallery-btn{
    position: absolute;
    right: 5px;
    top: 7px;
    display: flex;
}
.gallery .gallery-btn button{
    margin: 1px 2px;
    display: block;
    width: 23px;
    height: 23px;
    background: url(../img/icon.png) no-repeat;
    cursor: pointer;
}
.gallery .gallery-btn .gb-icon1{
    background-position: -150px -120px;
}
.gallery .gallery-btn .gb-icon1:hover{
    background-position: -173px -120px;
}
.gallery .gallery-btn .gb-icon2{
    background-position: -150px -143px;
}
.gallery .gallery-btn .gb-icon2:hover{
    background-position: -173px -143px;
}
.gallery .gallery-btn .gb-icon3{
    background-position: -150px -166px;
}
.gallery .gallery-btn .gb-icon3:hover{
    background-position: -173px -166px;
}
.gallery .gallery-btn .gb-icon4{
    background-position: -150px -189px;
}
.gallery .gallery-btn .gb-icon4:hover{
    background-position: -173px -189px;
}
.col6 .gallery .gallery-img img{
    width: 100%;
}
/* 메인 구역 끝 */

/* 푸터 구역 시작 */
#footer{
    padding: 25px 0;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 13px;
}
#footer .family-site{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#footer .family-site li{
    padding: 0 7px 0 10px;
    position: relative;
}
#footer .family-site li::before{
    content: '';
    position: absolute;
    top: 3.5px;
    left: 0;
    height: 12px;
    width: 1px;
    background: #ccc;
}
#footer .family-site li:first-child::before{
    display: none;
}
#footer .family-site li > a:hover{
    color: #390;
}
#footer .w3c{
    margin-top: 15px;
}
/* 푸터 구역 끝 */